<footer>
  
   <div class="container-fluid  pt-4 pb-4 p-sm-5">
    <div class="row">


      <div class=" col-md-7 col-12 d-md-flex p-0">
      
        <div class="col-md-5 col-sm-12 col-12">
          <ul>
            <li class="pl-md-5 pl-3 mb-4">
              <img src="img/fatboylogo.png" />
            </li>
          </ul>
        </div>

        <div class="col-sm d-flex " class="mt-3 mt-sm-0">
           <div class="col-sm">
            <ul>
              <li class="mb-2">
                <a href=""><b>About Us</b></a>
              </li>
              <li class="mb-2">
                <a href=""><b>Stuff We Do</b></a>
              </li>
              <li class="mb-2">
                <a href=""><b>Meet the Rockstar</b></a>
              </li>
              <li class="mb-2">
                <a href=""><b>Contact Us</b></a>
              </li>
            </ul> 
          </div>

          <div class="col-sm">
            <ul>
              <li>
                <b>Stalk Us</b>
              </li>
              <li>
                <span class="pr-2">
                  <a href=""><i class="fab fa-instagram"></i></a>
                </span>
                <span class="pr-2">
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                </span>
                <span class="pr-2">
                  <a href=""><i class="fab fa-twitter"></i></a>
                </span>
                <span>
                  <a href=""><i class="fab fa-youtube"></i></a>
                </span>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class=" col d-sm-flex">
        <div class="col-12 col-sm">
          <ul>
            <li><b>FB Group Sdn. Bhd (1310973-W)</b>  </li>
            <li  class="mt-3 mt-sm-0">
              <b>Fat Boys Records Sdn. Bhd</b>
              <br>
              C-10-07 & 08, Plaza Mont’ Kiara,
              <br>
              No.2, Jalan Kiara, Mont’ Kiara,
              <br>
              50480 Kuala Lumpur.
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm">
          <ul>
            <li class="mt-3 mt-sm-0">
              <a href="shoutfbgroup.asia" target="_blank"><b>shout@fbgroup.asia</b></a>             
            </li>
            <li></li>
          </ul>
        </div>
      </div>

    </div>
  </div>  


  <div class="container-fluid">
 <div class="col-12 col-md-12 text-center p-4 ">
     {{!-- <a href="shoutfbgroup.asia" target="_blank"><b>shoutfbgroup.asia</b></a>      --}}
      <small>Privacy &amp; Policy</small>
    </div>
  </div>
</footer>
