<nav class="navi-bar fixed-top pt-2">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="logo-wrapper">
          <a href="index.html"><img src="img/fatboylogo.png" alt=""></a>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-end pr-2">
        <div class="menu-icon-wrapper">
          <a href="">
            <img id="test" src="img/menu-icon.png" alt="">
            <div class="menu-text">MENU</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-menu-wrapper  d-md-flex flex-column justify-content-md-between ">
    <div class="nav-vertical-line d-none d-md-block"></div>
    <div class="row d-md-flex align-items-center justify-content-center">
      <div class="col-md-6 ">
        <div class="menu-list-wrapper mt-5 pt-5 mb-4 mb-md-0">
          <ul class="menu-list">
            <li><a href="index.html" class="item-link"><b>Home</b></a></li>
            {{!-- <li><a href="" class="item-link"><b> How we roll</b></a></li> --}}
            <li><a href="stuff-we-do.html" class="item-link"><b>Stuff We Do</b></a></li>
            <li><a href="meet-the-rockstar.html" class="item-link"><b>Meet the Rockstar</b></a></li>
            <li><a href="form-page.html" class="item-link"><b>Give us a shout</b></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md p-md-5 ml-md-5 mt-3 mt-md-0">
        {{!-- <h4 class="ht4">Let’s hang out</h4>
        <ul>
          <li class="mt-3 mb-3 ">
            <b>Fat Boys Records Sdn. Bhd</b>
            <br>
            C-10-07 & 08, Plaza Mont’ Kiara,
            <br>
            No.2, Jalan Kiara, Mont’ Kiara,
            <br>
            50480 Kuala Lumpur.
          </li>
          <li class="mt-3 mt-sm-0">
            <b>Tel</b>: +603 6205 2670
            <br>
            <b>Email</b>asda@asda.com
          </li>
        </ul> --}}
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md d-md-flex flex-md-column justify-content-end">
        <ul class="mb-0">
          <li>
            <b>Stalk Us</b>
          </li>
          <li>
            <span class="pr-3">
              <a href=""><i class="fab fa-instagram"></i></a>
            </span>
            <span class="pr-3">
              <a href=""><i class="fab fa-facebook-f"></i></a>
            </span>
            <span class="pr-3">
              <a href=""><i class="fab fa-twitter"></i></a>
            </span>
               <span>
              <a href=""><i class="fab fa-youtube"></i></a>
            </span>
          </li>
        </ul>
      </div>
      <div class=" col-md col-12 p-0">
        {{!-- <div class="col-md-7 col-12 mt-4 mt-md-0 float-md-right p-md-0">
          <p>This website uses cookies to ensure you getthe best experience while browsing. <a href=""><span class="color-yellow"><u>Learn
                  more</u></span></a>
          </p>
          <div>
            <span class="btn-secondary mr-3">
              <a href="">Allow Cookies</a>
            </span>
            <span class="btn-secondary">
              <a href="">Got it</a>
            </span>
          </div>
        </div> --}}
      </div>
    </div>
  </div>
  </div>
</nav>
