$font-body: 'Raleway-regular', Helvetica, sans-serif;
$font-headers: 'Gotham-bold', Helvetica, sans-serif;
$raleway-bold:'Raleway-bold', Helvetica, sans-serif;


/** Colors **/
$color-black : #000;
$color-grey : #3c3c3c;

$color-grey-1:#2a2a2a;
$color-grey-2: #3d3d3d;

$color-light-grey :#606060;
$color-light-grey-1 :#f2f2f3;
$color-white : #fff;
$color-yellow : #fcb816;

/** Background Colors **/
$background-yellow: #fcb816;

/** Media Queries **/
$break-small: 360px;
$break-medium: 815px;
$break-large: 1700px;

