@import '1-variables';

.color-grey{
    color:$color-grey;
}

.color-grey-1{
    color:$color-grey-1;
}

.color-grey-2{
    color:$color-grey-2;
}

.color-light-grey{
    color:$color-light-grey;
}
.color-black{
    color:$color-black;
}
.color-white{
    color:$color-white;
}
.color-yellow{
    color:$color-yellow;
}

.background-yellow{
    background-color: $background-yellow;
} 


