@import '1-variables';


body {
  font-family: $font-body;
}

html,
body,
main,
  {
  position: relative;
  height: auto;
  overflow-x: hidden;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%;
}

section {
  overflow: hidden;
}


p {
  font-family: $font-body;
  color: $color-white;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headers;
  color: $color-white;
}

a {
  color: $color-white;

  &:hover {
    text-decoration: none;
  }
}

.ht1 {
  font-size: 32px;
  line-height: 1.4em;
  @media (min-width: $break-small) {
    font-size: 32px;
    line-height: 1.5em;    
  }
  @media (min-width:$break-medium) {
    font-size: 44px;
    line-height: 1.2em;
  }
  @media (min-width:$break-large) {
    font-size: 63px;
    line-height: 1.1em;
  }

}

.ht3 {
  font-size: 32px;

  @media (min-width: $break-medium) {
    line-height: 0.5em;
    font-size: 40px;
  }
  @media (min-width:900px) {
    line-height: 0.5em;
    font-size: 28px;
  }
  @media (min-width:1260px) {
    line-height: 0.5em;
    font-size: 40px;
  }

  @media (min-width: $break-large) {
    line-height: 1.5em;
    font-size: 46px;
  }
}

.ht4 {
  font-size: 20px;

  @media (min-width: 768px) {
    font-size: 30px;
  }
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: none !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}



.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

//adjust height section
.vh-100 {
  height: 100vh;
}

.vh-50 {
  height: 50vh;
}

.vh-25 {
  height: 25vh;
}

//font-sizes

.main-title-fs {
  font-size: 28px;
  line-height: 1.5em;  
  
  @media(min-width: $break-small) {
    font-size: 32px;
    line-height: 1.6em;
  }

  @media(min-width: $break-large) {
    font-size: 46px;
    line-height: 1.4em;
  }
}

.fs-desc {
  font-size: 16px;

  @media (min-width: $break-medium) {
    font-size: 18px;
  }

  @media (min-width: $break-large) {
    font-size: 20px;
  }
}

.fs-1 {
  font-size: 14px;
}

.fs-2 {
  font-size: 12px;
}


//backgrounds

.bg-white {
  background: $color-white;
}

.bg-black {
  background: $color-black;
}

.bg-light-grey {
  background: $color-light-grey-1;
}


//separator
.yellow-line {
  position: relative;
  width: 100%;

  &:before {
    content: '';
    background-color: $color-yellow;
    -webkit-transition-property: background-color, margin, width;
    transition-property: background-color, margin, width;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.5, 0, 0.2, 1);
    position: absolute;
    width: 50px;
    height: 8px;
    bottom: -33px;
    left: 0;

    @media (min-width: $break-medium) {
      width: 80px;
      height: 10px;
      bottom: -58px;
      left: 0;

    }

  }

}

