$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50);
$sides: ("": "all"
);

@each $space in $spaceamounts {

  @each $prefix,
  $value in $sides {
    $property: if($prefix=='', '', -#{$value});

    .top#{$prefix}#{$space} {
      top#{$property}: #{$space}px;
    }

    .bottom#{$prefix}#{$space} {
      bottom#{$property}: #{$space}px;
    }

    .left#{$prefix}#{$space} {
      left#{$property}: #{$space}px;
    }

    .right#{$prefix}#{$space} {
      right#{$property}: #{$space}px;
    }

    @media (min-width: 768px) {
      .top-md-#{$prefix}#{$space} {
        top#{$property}: #{$space}px;
      }

      .bottom-md-#{$prefix}#{$space} {
        bottom#{$property}: #{$space}px;
      }


      .left-md-#{$prefix}#{$space} {
        left#{$property}: #{$space}px;
      }

      .right-md-#{$prefix}#{$space} {
        right#{$property}: #{$space}px;
      }

    }

  }
}

/*
  RUN GULP to generate the classes. Now you can use these helpers to customize spacing on HTML elements.
*/
