/** Colors **/
/** Background Colors **/
/** Media Queries **/
/** Colors **/
/** Background Colors **/
/** Media Queries **/
.banner-wrapper .yellow-line:before {
  top: 72px;
  left: 30px; }
  @media (min-width: 360px) {
    .banner-wrapper .yellow-line:before {
      top: 73px; } }
  @media (min-width: 815px) {
    .banner-wrapper .yellow-line:before {
      top: 119px;
      left: 40px; } }
  @media (min-width: 1300px) {
    .banner-wrapper .yellow-line:before {
      top: 97px; } }
  @media (min-width: 1700px) {
    .banner-wrapper .yellow-line:before {
      top: 116px;
      left: 40px; } }

.banner-wrapper p {
  font-size: 16px; }
  @media (min-width: 815px) {
    .banner-wrapper p {
      font-size: 18px; } }
  @media (min-width: 1700px) {
    .banner-wrapper p {
      font-size: 20px; } }

.bg-overlay {
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  opacity: 0.35; }
