/** Colors **/
/** Background Colors **/
/** Media Queries **/
/** Colors **/
/** Background Colors **/
/** Media Queries **/
.btn-container .btn-primary {
  background-color: #fcb816;
  padding: 3px 20px;
  border-color: #fcb816;
  border-radius: 0; }
  .btn-container .btn-primary:hover {
    background-color: #dc9c03;
    border-color: #dc9c03;
    transition: 0.05s; }

.btn-secondary {
  cursor: pointer;
  text-align: center;
  color: #fff;
  padding: 5px 10px;
  background: transparent; }
  .btn-secondary:hover {
    background: #fcb816; }
  .btn-secondary a {
    color: #fff !important; }
    .btn-secondary a:hover {
      text-decoration: none !important; }

.btn-main {
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #fcb816;
  padding: 5px 10px; }
  .btn-main:hover {
    color: #000;
    background-color: #dc9c03;
    border-color: #dc9c03;
    transition: 0.05s; }
  .btn-main a {
    color: #fff !important; }
    .btn-main a:hover {
      text-decoration: none !important; }
