/** Colors **/
/** Background Colors **/
/** Media Queries **/
footer {
  position: relative;
  font-family: "Raleway-regular", Helvetica, sans-serif;
  font-size: 14px;
  background: #000;
  color: #fff;
  line-height: 1.8em; }
  footer a {
    color: #fff; }
    footer a:hover {
      text-decoration: none;
      color: #fcb816; }
