/** Colors **/
/** Background Colors **/
/** Media Queries **/
/** Colors **/
/** Background Colors **/
/** Media Queries **/
.form-container form .form-control {
  font-family: "Raleway-regular", Helvetica, sans-serif;
  height: 50px;
  border-radius: 0px;
  border: 1px solid #fcb816;
  color: #000;
  padding: 14px 0 0 12px;
  box-shadow: 0px 0px 0px #fcb816;
  -webkit-box-shadow: 0px 0px 0px #fcb816; }
  .form-container form .form-control:focus {
    box-shadow: 0px 0px 3px #fcb816;
    -webkit-box-shadow: 0px 0px 3px #fcb816; }

.form-container form .form-group {
  position: relative;
  margin-bottom: 1.5rem; }
  .form-container form .form-group textarea {
    height: 150px; }

.form-container form .form-control-placeholder {
  font-size: 14px;
  position: absolute;
  top: 0;
  padding: 13px 0 0 13px;
  transition: all 300ms;
  color: #606060; }

.form-container form .form-control:focus + .form-control-placeholder {
  font-size: 70%;
  transform: translate3d(0, -36%, 0);
  opacity: 1;
  color: #3c3c3c; }

.form-container form .is-active .form-control-placeholder {
  font-size: 70%;
  transform: translate3d(0, -36%, 0); }
