/** Colors **/
/** Background Colors **/
/** Media Queries **/
/** Colors **/
/** Background Colors **/
/** Media Queries **/
.header-title a {
  text-decoration: none !important; }

.header-title .ht1 {
  line-height: 1.6em; }

.header-title .seperator {
  background-color: #fcb816;
  -webkit-transition-property: background-color, margin, width;
  transition-property: background-color, margin, width;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.5, 0, 0.2, 1);
  display: block;
  width: 50px;
  height: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px; }

.header-title .subTitle-container .subTitle {
  padding-left: 170px;
  text-transform: none;
  width: 85%; }
  @media only screen and (max-width: 360px) {
    .header-title .subTitle-container .subTitle {
      padding-left: 0;
      width: 100%; } }
  @media only screen and (min-width: 361px) and (max-width: 1699px) {
    .header-title .subTitle-container .subTitle {
      padding-left: 0;
      width: 100%; } }

.header-title .yellow-line:before {
  bottom: -19px; }

@media (min-width: 815px) {
  .header-title .yellow-line:before {
    height: 10px;
    bottom: -19px; } }

.diagonal-bg {
  background-color: transparent;
  background-image: -webkit-linear-gradient(95deg, #fff 50%, #f2f2f3 50%);
  min-height: 20px;
  background-position-y: -300px;
  background-repeat: no-repeat; }
  @media (min-width: 815px) {
    .diagonal-bg {
      background-position-y: -260px;
      background-image: -webkit-linear-gradient(97deg, #fff 50%, #f2f2f3 50%); } }
  @media (min-width: 1700px) {
    .diagonal-bg {
      background-position-y: -300px; } }
