/** Colors **/
/** Background Colors **/
/** Media Queries **/
nav {
  margin-bottom: 40px; }
  nav.fixed-top {
    position: fixed;
    top: 0;
    z-index: 9; }
  nav .logo-wrapper {
    padding: 9px 0 0 0; }
    nav .logo-wrapper img {
      width: 35px;
      display: block; }
    @media (min-width: 815px) {
      nav .logo-wrapper {
        padding: 13px 0 0 6px; }
        nav .logo-wrapper img {
          width: 50px; } }
    @media (min-width: 1700px) {
      nav .logo-wrapper {
        padding: 13px 0 0 6px; }
        nav .logo-wrapper img {
          width: 60px; } }
  nav .menu-icon-wrapper {
    position: relative;
    top: -10px; }
    @media (min-width: 815px) {
      nav .menu-icon-wrapper {
        top: -20px; } }
    nav .menu-icon-wrapper a {
      color: #fff;
      cursor: pointer; }
      nav .menu-icon-wrapper a.menu-open {
        transition: all .5s ease; }
        nav .menu-icon-wrapper a.menu-open .menu-text {
          top: 20px;
          left: -15px;
          transform: translateY(100%) rotateZ(0deg) !important;
          -webkit-transform: translateY(100%) rotateZ(0deg) !important;
          color: #fff; }
      nav .menu-icon-wrapper a:hover .menu-text {
        top: 20px;
        transform: translateY(100%) rotateZ(-90deg);
        -webkit-transform: translateY(100%) rotateZ(-90deg); }
    nav .menu-icon-wrapper .menu-text {
      position: absolute;
      left: -5px;
      top: -100px;
      font-size: 12px;
      transition: all .5s ease;
      transform: translateY(-100%) rotateZ(-90deg);
      -webkit-transform: translateY(-100%) rotateZ(-90deg); }
    nav .menu-icon-wrapper img {
      width: 20px; }
  nav .nav-menu-wrapper {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 0;
    min-width: 0;
    color: #fff;
    background-color: #0b0e07;
    padding: 5% 7%;
    transition: all .5s ease;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    overflow-y: scroll; }
    @media (min-width: 768px) {
      nav .nav-menu-wrapper {
        padding: 5% 14%;
        overflow-y: hidden; } }
    nav .nav-menu-wrapper.menu-open {
      transform: translateX(0);
      -webkit-transform: translateX(0); }
    nav .nav-menu-wrapper a {
      color: #fff; }
      nav .nav-menu-wrapper a:hover {
        color: #fcb816; }
    nav .nav-menu-wrapper .menu-list-wrapper .menu-list {
      font-family: "Raleway-bold", Helvetica, sans-serif;
      font-size: 28px;
      line-height: 1.8em; }
      @media (min-width: 768px) {
        nav .nav-menu-wrapper .menu-list-wrapper .menu-list {
          font-size: 46px;
          line-height: 1.5em; } }
      nav .nav-menu-wrapper .menu-list-wrapper .menu-list li a:hover {
        padding: 0 5px;
        text-decoration: none;
        color: #fff;
        background: #fcb816; }
    nav .nav-menu-wrapper .cookie-text {
      bottom: 0px;
      right: 0%; }
      @media (min-width: 768px) {
        nav .nav-menu-wrapper .cookie-text {
          bottom: 70px;
          right: -20%; } }
    nav .nav-menu-wrapper .nav-vertical-line {
      border-left: 0px solid #fcb816;
      height: 100%;
      left: 50%;
      top: 0;
      position: absolute; }
