/** Colors **/
/** Background Colors **/
/** Media Queries **/
/** Colors **/
/** Background Colors **/
/** Media Queries **/
.partner-logo-wrapper .partner-logo-carousel .slick-slider,
.partner-logo-wrapper .partner-logo-carousel .slick-list,
.partner-logo-wrapper .partner-logo-carousel .slick-track {
  height: 100%; }

.partner-logo-wrapper .partner-logo-carousel .slick-slider {
  overflow: hidden; }
  .partner-logo-wrapper .partner-logo-carousel .slick-slider button {
    cursor: pointer; }
  .partner-logo-wrapper .partner-logo-carousel .slick-slider .slick-track .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.partner-logo-wrapper .partner-logo-carousel .slick-arrow,
.partner-logo-wrapper .partner-logo-carousel .slick-dots {
  position: absolute;
  z-index: 4; }

.partner-logo-wrapper .partner-logo-carousel .slick-arrow {
  top: 98%;
  z-index: 5; }
  @media (min-width: 815px) {
    .partner-logo-wrapper .partner-logo-carousel .slick-arrow {
      top: 97%; } }
  .partner-logo-wrapper .partner-logo-carousel .slick-arrow.slick-prev {
    left: 15%; }
    @media (min-width: 815px) {
      .partner-logo-wrapper .partner-logo-carousel .slick-arrow.slick-prev {
        left: 35%; } }
    .partner-logo-wrapper .partner-logo-carousel .slick-arrow.slick-prev::before {
      color: #3c3c3c;
      content: "\003c"; }
  .partner-logo-wrapper .partner-logo-carousel .slick-arrow.slick-next {
    right: 15%; }
    @media (min-width: 815px) {
      .partner-logo-wrapper .partner-logo-carousel .slick-arrow.slick-next {
        right: 35%; } }
    .partner-logo-wrapper .partner-logo-carousel .slick-arrow.slick-next::before {
      color: #3c3c3c;
      content: "\003e"; }

.partner-logo-wrapper .partner-logo-carousel .slick-dots {
  width: 100%;
  bottom: 0%;
  left: 0;
  text-align: center; }
  .partner-logo-wrapper .partner-logo-carousel .slick-dots .slick-active button {
    background: #fcb816; }
  .partner-logo-wrapper .partner-logo-carousel .slick-dots li {
    display: inline-block; }
    .partner-logo-wrapper .partner-logo-carousel .slick-dots li button {
      background: #606060;
      border-radius: 30px;
      height: 5px;
      width: 5px; }
      .partner-logo-wrapper .partner-logo-carousel .slick-dots li button:hover {
        background: #fcb816; }
      .partner-logo-wrapper .partner-logo-carousel .slick-dots li button:before {
        content: ""; }

.partner-logo-wrapper .partner-logo-carousel .logo-wrapper {
  padding: 20px; }
  @media (min-width: 815px) {
    .partner-logo-wrapper .partner-logo-carousel .logo-wrapper {
      padding: 40px; } }

.partner-logo-wrapper .partner-logo-carousel .col-md-2-logo {
  -ms-flex: 0 0 48.666667%;
  flex: 0 0 48.666667%;
  max-width: 48.666667%; }
  @media (min-width: 815px) {
    .partner-logo-wrapper .partner-logo-carousel .col-md-2-logo {
      -ms-flex: 0 0 19.666667%;
      flex: 0 0 19.666667%;
      max-width: 19.666667%; } }
