/**
*meet the rockstar tile
**/
/** Colors **/
/** Background Colors **/
/** Media Queries **/
.firstTile-hover .mtr-tile:first-child .tile-box .tilePara,
.firstTile-hover .mtr-tile:first-child .tile-box .tileTitleName {
  opacity: 1; }

@media (min-width: 815px) {
  .firstTile-hover .mtr-tile:first-child .tile-box .tilePara,
  .firstTile-hover .mtr-tile:first-child .tile-box .tileTitleName {
    opacity: 0; } }

@media (min-width: 815px) {
  .firstTile-hover .mtr-tile:first-child:hover .tilePara,
  .firstTile-hover .mtr-tile:first-child:hover .tileTitleName {
    opacity: 1; } }

.mtr-tile {
  cursor: pointer; }
  .mtr-tile .tile-box {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .mtr-tile .tile-box .tilePara {
      font-size: 12px;
      margin-bottom: 0;
      padding: 10px 0;
      opacity: 0; }
    .mtr-tile .tile-box .tileTitleName {
      padding: 0 5px;
      text-decoration: none;
      color: #fff;
      background: #fcb816;
      margin-bottom: 0;
      opacity: 0;
      font-size: 1.3rem; }
      @media (min-width: 400px) {
        .mtr-tile .tile-box .tileTitleName {
          font-size: 2em; } }
    .mtr-tile .tile-box:hover .tileTitleName,
    .mtr-tile .tile-box:hover .tilePara {
      opacity: 1; }
  .mtr-tile:hover .hoverBG {
    opacity: 0; }
  .mtr-tile:hover .hoverBG2 {
    opacity: 1; }

.hover-tile {
  cursor: pointer; }
  .hover-tile .tile-box p {
    position: relative;
    top: 0px;
    opacity: 1;
    height: 0;
    transform: translateY(40%); }
    @media (min-width: 815px) {
      .hover-tile .tile-box p {
        opacity: 0;
        transform: translateY(-20%); } }
  .hover-tile .tile-box:hover p {
    top: 0px;
    height: auto;
    opacity: 1;
    transform: translateY(40%);
    -moz-transition: height 0.5s ease-out 0.5s, opacity 0.6s ease-out;
    -webkit-transition: height 0.5s ease-out 0.5s, opacity 0.6s ease-out;
    -o-transition: height 0.5s ease-out 0.5s, opacity 0.6s ease-out;
    transition: height 0.5s ease-out 0.5s, opacity 0.6s ease-out; }
  .hover-tile .tile-box .yellow-line:before {
    bottom: -17px;
    left: 0; }
    @media (min-width: 815px) {
      .hover-tile .tile-box .yellow-line:before {
        bottom: -31px;
        left: 0; } }
  .hover-tile .ht3 {
    line-height: 0.5em; }
    @media (min-width: 815px) {
      .hover-tile .ht3 {
        line-height: 0.6em; } }
  .hover-tile .bg-overlay {
    background: rgba(0, 0, 0, 0.4); }
    .hover-tile .bg-overlay:hover {
      background: rgba(0, 0, 0, 0.4); }
    @media (min-width: 815px) {
      .hover-tile .bg-overlay {
        background: rgba(0, 0, 0, 0); } }

@media (min-width: 768px) {
  .col-md-2-mtr {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

.mw-380 {
  max-width: 380px; }
