/** Colors **/
/** Background Colors **/
/** Media Queries **/
/** Colors **/
/** Background Colors **/
/** Media Queries **/
.line-left-xxs:before {
  left: 5px; }

.line-left-xs:before {
  left: 10px; }

.line-left-s:before {
  left: 15px; }

.line-left-m:before {
  left: 20px; }

.line-left-l:before {
  left: 25px; }

.line-left-xl:before {
  left: 30px; }
