@import "../../sass/1-base/1-variables";
@import "../../sass/1-base/4-mediaquery";


.banner-wrapper {
  .yellow-line {
    &:before {
        top:72px;
        left: 30px;
        @media (min-width: $break-small){
          top:73px;
        }
      @media (min-width: $break-medium) {
        top: 119px;
        left: 40px;
      } 
      @media (min-width:1300px){
        top: 97px;
      }
       @media (min-width: $break-large) {
        top: 116px;
        left: 40px;
      } 
    }
  }

  p{ 
    font-size:16px;
    @media (min-width: $break-medium) {
     font-size: 18px;  
   }
   @media (min-width: $break-large) {
     font-size: 20px;  
   } 
  }
}

.bg-overlay{
  background: $color-black;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  opacity: 0.35;
} 