@import "../../sass/1-base/1-variables";
@import "../../sass/1-base/4-mediaquery";



.btn-container{
  //  margin-left: 11.5rem;
  //  @include media-breakpoint(medium-screens){
  //      margin-left: 1rem;
//    }
    .btn-primary{
        background-color: $color-yellow;
        padding: 3px 20px;
        border-color: $color-yellow;
        border-radius: 0;
    
        &:hover{
            background-color: darken($color-yellow,10%);
            border-color: darken($color-yellow,10%);
            transition: 0.05s;
        }
    }

}


// main btns 
.btn-secondary{
    cursor: pointer;
    text-align: center;
    color:$color-white;
    padding:5px 10px;
    background:transparent;
    &:hover{
        background:$color-yellow;
    }
    a{
        color:$color-white!important;
        &:hover{
            text-decoration: none!important;
        }
    }
}


// main btns 
.btn-main{
    cursor: pointer;
    text-align: center;
    color:$color-white;
    background: $color-yellow;
    padding:5px 10px;
    &:hover{
        color:$color-black;
        background-color: darken($color-yellow,10%);
        border-color: darken($color-yellow,10%);
        transition: 0.05s;
    }
    a{
        color:$color-white!important;
        &:hover{
            text-decoration: none!important;
        }
    }
}
