@import "../../sass/1-base/1-variables";

footer {
  position: relative;
  font-family: $font-body;
  font-size: 14px;
  background: #000;
  color: $color-white;
  line-height: 1.8em;

  a {
    color: $color-white;

    &:hover {
      text-decoration: none;
      color: $color-yellow;
    }
  }
}
