@import "../../sass/1-base/1-variables";
@import "../../sass/1-base/4-mediaquery";

.form-container {
  form {

    .form-control {
      font-family: $font-body;
      height: 50px;
      border-radius: 0px;
      border: 1px solid $color-yellow;
      color: $color-black;
      padding: 14px 0 0 12px;
      box-shadow: 0px 0px 0px $color-yellow;
      -webkit-box-shadow: 0px 0px 0px $color-yellow;
      ;

      &:focus {
        box-shadow: 0px 0px 3px $color-yellow;
        -webkit-box-shadow: 0px 0px 3px $color-yellow;
      }
    }

    .form-group {
      position: relative;
      margin-bottom: 1.5rem;

      textarea {
        height: 150px;
      }
    }

    .form-control-placeholder {
      font-size: 14px;
      position: absolute;
      top: 0;
      padding: 13px 0 0 13px;
      transition: all 300ms;
      color: $color-light-grey;
    }

    .form-control:focus+.form-control-placeholder {
      font-size: 70%;
      transform: translate3d(0, -36%, 0);
      opacity: 1;
      color: $color-grey;

    }

    .is-active {
      .form-control-placeholder {
        font-size: 70%;
        transform: translate3d(0, -36%, 0);
      }
    }


  }





  // .is-focused &{
  //   border-color: #298eea;
  // }
  // .is-active &{
  //   padding: 1.3rem 0.85rem 0.45rem 0.85rem !important;

  //   &+label{
  //     visibility: visible;
  //     opacity: 1;
  //   }
  // }
  // .is-focused.is-active &{
  //   &+label{
  //     color: #298eea;
  //   }
  // }

}
