@import "../../sass/1-base/1-variables";
@import "../../sass/1-base/4-mediaquery";



.header-title{
    a{
        text-decoration:none!important;
    }

    .ht1{
        line-height: 1.6em;
    }
    .seperator{
        background-color: $color-yellow;
        -webkit-transition-property: background-color, margin, width;
        transition-property: background-color, margin, width;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.5, 0, 0.2, 1);
        display: block;
        width: 50px;
        height: 5px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .subTitle-container{
        .subTitle{
            padding-left: 170px;
            text-transform: none;
            width: 85%;
            @include media-breakpoint(small-screens){padding-left: 0;width:100%}
            @include media-breakpoint(medium-screens){padding-left: 0;width:100%}

        } 
    }

    .yellow-line{
        &:before{
            bottom: -19px;
        }
        @media (min-width:$break-medium) {
            &:before{
                height: 10px;
                bottom: -19px;
            }
        }
    }

    
}


.diagonal-bg {

    background-color: transparent;
    background-image: -webkit-linear-gradient(95deg, $color-white 50%, $color-light-grey-1 50%);
    min-height: 20px;
    background-position-y: -300px;
    background-repeat: no-repeat;

    @media (min-width:$break-medium) {
        background-position-y: -260px;
        background-image: -webkit-linear-gradient(97deg, $color-white 50%, $color-light-grey-1 50%);


    }

    @media (min-width:$break-large) {
        background-position-y: -300px;

    }
  
  }
  