@import "../../sass/1-base/1-variables";


nav {
  margin-bottom: 40px;

  &.fixed-top {
    position: fixed;
    top: 0;
    z-index: 9;
  }

  .logo-wrapper {
    padding: 9px 0 0 0;
    img {
      width: 35px;
      display: block;
    }

    @media (min-width:$break-medium) {
      padding: 13px 0 0 6px;

      img{
        width: 50px;
      }
    }
    @media (min-width:$break-large) {
      padding: 13px 0 0 6px;
      img{
        width: 60px;
      }
    }

  }

  .menu-icon-wrapper {
    position: relative;
    top:-10px;

    @media (min-width:$break-medium) {
      top:-20px;
    }
    a {
      color: #fff;
      cursor: pointer;

      &.menu-open {
        transition: all .5s ease;

        .menu-text {
          top: 20px;
          left: -15px;
          transform: translateY(100%) rotateZ(0deg) !important;
          -webkit-transform: translateY(100%) rotateZ(0deg) !important;
          color: #fff;
        }
      }


      &:hover {
        .menu-text {
          top: 20px;
          transform: translateY(100%) rotateZ(-90deg);
          -webkit-transform: translateY(100%) rotateZ(-90deg);
        }
      }

    }

    .menu-text {
      position: absolute;
      left: -5px;
      top: -100px;
      font-size: 12px;
      transition: all .5s ease;
      transform: translateY(-100%) rotateZ(-90deg);
      -webkit-transform: translateY(-100%) rotateZ(-90deg);
    }

    img {
      width: 20px;
    }

  }

  .nav-menu-wrapper {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 0;
    min-width: 0;
    color: #fff;
    background-color: #0b0e07;
    padding: 5% 7%;
    transition: all .5s ease;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    overflow-y: scroll;

    @media (min-width: 768px) {
      padding: 5% 14%;
      overflow-y: hidden;
    }

    &.menu-open {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }

    a {
      color: $color-white;

      &:hover {
        color: $color-yellow
      }
    }

    .menu-list-wrapper {
      .menu-list {
        font-family: $raleway-bold;
        font-size: 28px;
        line-height: 1.8em;

        @media (min-width: 768px) {
          font-size: 46px;
          line-height: 1.5em;
        }


        li {
          a {
            &:hover {
              padding: 0 5px;
              text-decoration: none;
              color: $color-white;
              background: $color-yellow;
            }
          }

        }
      }
    }

    .cookie-text {
      bottom: 0px;
      right: 0%;

      @media (min-width: 768px) {
        bottom: 70px;
        right: -20%;
      }
    }

    //line
    .nav-vertical-line {
      border-left: 0px solid $color-yellow;
      height: 100%;
      left: 50%;
      top: 0;
      position: absolute;
    }


  }

}
