@import "../../sass/1-base/1-variables";
@import "../../sass/1-base/4-mediaquery";


.partner-logo-wrapper {

  .partner-logo-carousel {

    .slick-slider,
    .slick-list,
    .slick-track {
      height: 100%;
    }

    .slick-slider {
      overflow: hidden;

      button {
        cursor: pointer;
      }

      .slick-track {
        .slick-slide {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .slick-arrow,
    .slick-dots {
      position: absolute;
      z-index: 4;
    }

    .slick-arrow {

      top: 98%;
      z-index: 5;

      @media (min-width: $break-medium) {
        top: 97%;
      }

      &.slick-prev {
        left: 15%;

        @media (min-width: $break-medium) {
          left: 35%;
        }
        &::before {
          color: $color-grey;
          content: "\003c";

        }
      }

      &.slick-next {
        right: 15%;

        @media (min-width: $break-medium) {
          right: 35%;
        }

        &::before {
          color: $color-grey;
          content: "\003e";

        }
      }




    }

    .slick-dots {
      width: 100%;
      bottom: 0%;
      left: 0;
      text-align: center;

      .slick-active {
        button {
          background: $color-yellow;
        }
      }

      li {
        display: inline-block;

        button {
          background: $color-light-grey;
          border-radius: 30px;
          height: 5px;
          width: 5px;

          &:hover {
            background: $color-yellow;
          }

          &:before {
            content: "";
          }
        }
      }
    }


    .logo-wrapper {
      padding: 20px;

      @media (min-width: $break-medium) {
        padding: 40px;
      }
    }


    .col-md-2-logo {

      -ms-flex: 0 0 48.666667%;
      flex: 0 0 48.666667%;
      max-width: 48.666667%;

      @media (min-width: $break-medium) {
        -ms-flex: 0 0 19.666667%;
        flex: 0 0 19.666667%;
        max-width: 19.666667%;
      }

    }

  }
}
