/**
*meet the rockstar tile
**/

@import "../../sass/1-base/1-variables";

.firstTile-hover {

  .mtr-tile {
    &:first-child {
      .tile-box {
        // background: rgba(0, 0, 0, 0);

        .tilePara,
        .tileTitleName {
          opacity: 1;
        }

        @media (min-width:$break-medium) {
          // background: rgba(0, 0, 0, 0);

          .tilePara,
          .tileTitleName {
            opacity: 0;
          }
        }

      }


      &:hover {

        @media (min-width: $break-medium) {
          .tile-box {
            // background: rgba(0, 0, 0, 0);
          }

          .tilePara,
          .tileTitleName {
            opacity: 1;
          }
        }

      }




    }  
  }


}



.mtr-tile {

  cursor: pointer;


  .tile-box {
    padding: 10px;
    // background: rgba(0, 0, 0, 0);
    // transition: 0.7s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .tilePara {
      font-size: 12px;
      margin-bottom: 0;
      padding: 10px 0;
      opacity: 0;
    }

    .tileTitleName {
      padding: 0 5px;
      text-decoration: none;
      color: $color-white;
      background: $color-yellow;
      margin-bottom: 0;
      opacity: 0;
      font-size: 1.3rem;

      @media (min-width: 400px) {
        font-size: 2em;
      }
    }

    &:hover {

      .tileTitleName,
      .tilePara {
        opacity: 1;
      }

      // background: rgba(0, 0, 0, 0);
    }


  }


  //mtr tile hover
  &:hover {
    .hoverBG {
      opacity: 0;
    }

    .hoverBG2 {
      opacity: 1;
    }
  }





}


.hover-tile {
  cursor: pointer;

  .tile-box {
   
    p {
      // display: none;
      position: relative;
      top:0px;
      opacity: 1;
      height: 0;
      transform: translateY(40%);
      // transition: top 0.5s, opacity 0.4s ease-in;
      
     
      @media (min-width: $break-medium) {
        opacity: 0;
        transform: translateY(-20%);
        

      }
    } 

    &:hover {

      p {
        // display: block;
        top:0px;
        height: auto;
        opacity: 1;
        transform: translateY(40%);
        -moz-transition: height 0.5s ease-out 0.5s, opacity 0.6s ease-out;
        -webkit-transition: height 0.5s ease-out 0.5s, opacity 0.6s ease-out;
        -o-transition: height 0.5s ease-out 0.5s, opacity 0.6s ease-out;
        transition: height 0.5s ease-out 0.5s, opacity 0.6s ease-out;
  
       
      }
    }

    //separator
    .yellow-line {
      &:before {
        bottom: -17px;
        left: 0;

        @media (min-width: $break-medium) {
          bottom: -31px;
          left: 0;
        }
      }
    }
  }

  .ht3{
    line-height: 0.5em;
    @media (min-width:$break-medium) {
      line-height: 0.6em
    }
  }

  .bg-overlay{
    background: rgba(0, 0, 0, 0.4);
    &:hover{
      background: rgba(0, 0, 0, 0.4);

    }
    // transition: 0.5s;
    @media (min-width:$break-medium) {
      background: rgba(0, 0, 0, 0);
    }
  }

}


.col-md-2-mtr {
  @media (min-width: 768px) {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }


}

.mw-380{
  max-width: 380px;
}
