@import "../../sass/1-base/1-variables";
@import "../../sass/1-base/4-mediaquery";


.background-video{
    position: absolute;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
    left: 0px;
    right: 0px;
    margin: auto;
}


.video-wrapper {
    cursor: pointer;
    // position: relative;
    // top: 0;
    // bottom: 0;
     width: 100%;
     height: 100%; 
 
    .video {
        /* Make video to at least 100% wide and tall */
        // min-width: 100%; 
        // min-height: 100%; 
        
        /* Setting width & height to auto prevents the browser from stretching or squishing the video */
        width: 100%;
        height: 100%;
        
        /* Center the video */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: $color-black;
      }
  }
  
