@import "../../sass/1-base/1-variables";
@import "../../sass/1-base/4-mediaquery";




// //separator
// .yellow-line {
//   position: relative;
//   width: 100%;

//   &:before {
//     content: '';
//     background-color: $color-yellow;
//     -webkit-transition-property: background-color, margin, width;
//     transition-property: background-color, margin, width;
//     -webkit-transition-duration: 0.4s;
//     transition-duration: 0.4s;
//     -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.2, 1);
//     transition-timing-function: cubic-bezier(0.5, 0, 0.2, 1);
//     position: absolute;
//     width: 100px;
//     height: 14px;
//     bottom: -58px;
//     left: 0;

//   }

// }

.line-left-xxs:before {
  left: 5px;
}

.line-left-xs:before {
  left: 10px;
}

.line-left-s:before {
  left: 15px;
}

.line-left-m:before {
  left: 20px;
}

.line-left-l:before {
  left: 25px;
}

.line-left-xl:before {
  left: 30px;
}
