{{#> layouts/base title="Homepage" }}
  {{#*inline "meta-block"}}
    {{> includes/meta }}
    {{/inline}}
    {{#*inline "content-block"}}
      {{>components/scroll-arrow}}
      {{> components/banner 
            wrapperStyle = "col d-flex align-items-center justify-content-center text-center"
            inlineBgStyle = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover;" 
            textboxStyle ="col-12 col-md-10"
            animateTitle = "data-aos='fade-right' data-aos-easing='ease'  data-aos-duration='1500' data-aos-delay='500' data-aos-offset='200'"
            animateTitle1 = "data-aos='fade-left' data-aos-easing='ease'  data-aos-duration='1300' data-aos-delay='500' data-aos-offset='300'"
            animateTitle2 = "data-aos='fade-right' data-aos-easing='ease'  data-aos-duration='1400' data-aos-delay='500' data-aos-offset='200'"


            landingTitle = "Banner Component Hey, welcome to Fat Boys." 
            landingTitle1 = " We’re a<span class='p-1 mx-1 background-yellow color-white'>gang of rebels</span>who are big on asdasdaads" 
            landingTitle2 = "an awesome<span class='p-1 mx-1 background-yellow color-white'>events and creative</span>stuff."     
    }}
      <div>
        <h3 class="color-black">
          Banner with aligment and animation
        </h3>
      </div>
      {{> components/banner

            wrapperStyle = "col d-flex align-items-center text-left"
            inlineBgStyle = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover;" 
            textboxStyle ="col-12 col-md-10"
            descStyle = "col-12 col-md-7"
            animateTextBox =" "
            animateTitle ="data-aos='fade-right' data-aos-offset='200' data-aos-easing='linear' data-aos-duration='500'"
            animateDesc1 ="data-aos='fade-right' data-aos-easing='ease' data-aos-duration='500'"


            titleContent = "Fade right align left" 
            descContent1 = "Align left combining cutting edge technology with bold and huge creative executions. We never settle for anything less than awesome" 
            descContent2 = "" 
          
     }}
      {{> components/banner

            wrapperStyle = "col d-flex align-items-center justify-content-end text-left"
            inlineBgStyle = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover;" 
            textboxStyle ="col-12 col-md-10"
            descStyle = "col-12 col-md-7"
            
            animateTitle ="data-aos='fade-in' data-aos-offset='200' data-aos-easing='linear' data-aos-duration='500'"
            animateDesc1 ="data-aos='zoom-out' data-aos-easing='ease' data-aos-duration='500'"
 
            titleContent = "Align center" 
            descContent1 = "align center the limits of convention by combining cutting edge technology with bold and huge creative executions. We never settle for anything less than awesome" 
            descContent2 = "" 
     }}
         <div>
        <h3 class="color-black">
          Video Background
        </h3>
      </div>

          {{> components/banner

            wrapperStyle = "col d-flex align-items-center justify-content-end text-left"
            inlineBgStyle = "background:url() no-repeat center bottom; background-color:#000;background-size:cover;" 
            videoBackground =  "http://clips.vorwaerts-gmbh.de/VfE_html5.mp4"

            textboxStyle ="col-12 col-md-10"
            descStyle = "col-12 col-md-7"
          
             
            animateTitle ="data-aos='zoom-in' data-aos-offset='300' data-aos-easing='linear' data-aos-duration='500'"
            animateDesc1 ="data-aos='fade-left' data-aos-easing='ease' data-aos-duration='500'"

            titleContent = "Video Background" 
            descContent1 = "align center the limits of convention by combining cutting edge technology with bold and huge creative executions. We never settle for anything less than awesome" 
            descContent2 = "" 
     }}

      <div>
        <h3 class="color-black">
          Parallax animation
        </h3>
      </div>

      {{> components/banner

            sectionID = "banner3"

            wrapperStyle = "col d-flex align-items-center text-left"
            inlineBgStyle = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover;" 
            textboxStyle ="col-12 col-md-10"
            descStyle = "col-12 col-md-7"
      
            animateTextBox =""
            animateTitle ="data-aos='fade-right' data-aos-offset='200' data-aos-easing='ease' data-aos-duration='500'"
            animateDesc1 ="data-aos='fade-center' data-aos-easing='ease' data-aos-duration='500' "

            titleContent = "Zoom IN On scroll" 
            descContent1 = "push the limits of convention by combining cutting edge technology with bold and huge creative executions. We never settle for anything less than awesome" 

            layerStyle="animate-box animate-zoom-in w-75 top-md-0 bottom-md-0 left0 right0 m-auto"
            animateLayer ="data-aos='zoom-in' data-aos-easing='ease' data-aos-duration='1600'  data-aos-delay='1000' style=' background:blue;' "
            layerContent = "zoom in band" 
            
          
        }}


      {{> components/banner

            sectionID ="banner4"
            wrapperStyle = "col d-flex align-items-center text-left"
            inlineBgStyle = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover;" 
            textboxStyle ="col-12 col-md-10"
            descStyle = "col-12 col-md-7"
            animateTextBox =" "
            animateTitle ="data-aos='fade-right' data-aos-offset='200' data-aos-easing='linear' data-aos-duration='500'"
            animateDesc1 ="data-aos='fade-right' data-aos-easing='ease' data-aos-duration='500'"

            titleContent = "Move left right on scroll" 
            descContent1 = "push the limits of convention by combining cutting edge technology with bold and huge creative executions. We never settle for anything less than awesome" 
            descContent2 = "" 

             layerStyle="animate-box animate-movement"
            animateLayer ="data-aos='fade-left' data-aos-easing='ease' data-offset='0' data-aos-duration='2000'  data-aos-delay='1500' style=' background:blue;' "
            layerContent = "smoke move" 

            
            layerStyle2 ="animate-box animate-zoom-in w-100 bottom-md-0 left0 right0 m-auto text-center "
            animateLayer2 ="data-aos='zoom-out' data-aos-easing='ease' data-aos-duration='1600'  data-aos-delay='200' style=' background:red;' "
            layerContent2 = "crowd" 
          
        }}


  {{> components/banner

            sectionID = "banner5"

            wrapperStyle = "col d-flex align-items-center text-left"
            inlineBgStyle = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover;" 
            textboxStyle ="col-12 col-md-10"
            descStyle = "col-12 col-md-7"
      
            animateTextBox =""
            animateTitle ="data-aos='fade-right' data-aos-offset='200' data-aos-easing='ease' data-aos-duration='500'"
            animateDesc1 ="data-aos='fade-center' data-aos-easing='ease' data-aos-duration='500' "

            titleContent = "Zoom IN " 
            descContent1 = "push the limits of convention by combining cutting edge technology with bold and huge creative executions. We never settle for anything less than awesome" 

            layerStyle="animate-box animate-zoom-in w-75 bottom-md-0 left0 right0 m-auto"
            animateLayer ="data-aos='zoom-out' data-aos-easing='ease' data-aos-duration='1600'  data-aos-delay='1000' style=' background:blue;' "
            layerContent = "zoom in " 
          
        }}

        
      <section class="normalScroll">
        {{!-- header title components --}}
        {{> components/header-title
            wrapperStyle = "text-center p-lg-4 p-sm-1 "
            titleStyle = "color-black"
            seperatorStyle ="mx-auto"
            heroContent = "Header title Header Title component"
     }}
        {{> components/header-title
            wrapperStyle = "text-left p-lg-4 p-sm-1 d-flex flex-colum align-items-center justify-content-center "
            titleStyle = "color-black"
            titleStyle1 = "color-black pl-3"
            heroContent = "You know how we roll,"
            heroContent1 = "<span class='yellow-line'>now </span>this is<span class='background-yellow color-white p-1 mx-1'>why we rock!</span>"
     }}
      </section>
      <div>
        <h3 class="color-black">
          header component
        </h3>
      </div>
      <section class="content-wrapper section ">
        <div class="container-fluid  p-0">
          <div>
            <h3 class="color-black">
              tile with animation alignment
            </h3>
          </div>
          <div class="row  p-0 no-gutters ">
            {{> components/tile

                wrapperStyle ="hover-tile col-12 col-md vh-50  align-items-start  justify-content-center  "
                boxStyle = "align-items-start justify-content-center vh-50 d-flex flex-column  "
                titleStyle = ""
                descStyle = "pl-4"
                inlineStyleBG = "background:url(img/sampletile.jpg) no-repeat center bottom; background-size:cover;"

                animateBg = "data-aos='flip-right' data-aos-easing='ease-in-back'  data-aos-duration='500' data-aos-delay='1000' data-aos-offset='0'"
                animateBox = "data-aos='fade-in' data-aos-easing='ease-in-back'  data-aos-duration='600' data-aos-delay='1500' data-aos-offset='0'"

               
                titleContent = "Tile <span class='yellow-line'>contentbb </span>left"
                descContent = "desc desc tile tile esc tiletile esc tile tile"
            }}
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <div>
            <h3 class="color-black">
              blank tile with alignment
            </h3>
          </div>
          <div class="row no-gutters">
            {{> components/tile
                wrapperStyle = " col-12 col-md vh-50  align-items-start  justify-content-center  "
                boxStyle = " align-items-start  justify-content-center vh-50 d-flex flex-column  "
                titleStyle = "color-black"
                descStyleWrapper = "pl-4 mt-3"
                descStyle = "color-black "
                inlineStyleBG = ""
               
                titleContent = "We Pass<span class='yellow-line'>ion</span>ate Fatboys"
                descContent = "yellow line can be adjusted in span" 
            }}
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <div class="row no-gutters">
            {{> components/tile

                wrapperStyle = " mtr-tile vh-50 col-12 col-md "
                boxStyle = " align-items-start justify-content-end vh-50 d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
                inlineStyleBG = "background:url(img/mtr-sample.jpg) no-repeat center bottom; background-size:cover;"
               
                descContent = "Chief Executive Officer"
                titleContent = "Workers Name Tile"
                quoteContent = '"I have a fantasy to be normal"'
            }}
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <div>
            <h3 class="color-black">
              tiles with btn and tile video
            </h3>
          </div>
          <div class="row  col p-0 no-gutters ">
            {{> components/tile
                wrapperStyle = " col-12 col-md vh-50  align-items-center  justify-content-center d-flex flex-column  "
                boxStyle = "text-left"
                titleStyle = "color-black"
                descStyleWrapper = "pl-4 mt-3"
                descStyle = "color-black "
                inlineStyleBG = ""
               
                titleContent = "We <span class='yellow-line'>are</span> Fatboys"
                descContent = "desc desc tile tile esc tiletile esc tile tile"
                btn-text = "Check Check" 
            }}
            {{>components/tile
                wrapperStyle = "col-12 col-md vh-50 video-container"
                boxStyle = "vh-50"
                inlineStyleBG = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover; height:100%;"
                videoID = "http://clips.vorwaerts-gmbh.de/VfE_html5.mp4"
            }}
          </div>
          <div class="row no-gutters">
            {{>components/tile
                wrapperStyle = "col-12 col-md vh-50 video-container"
                boxStyle = "vh-50"
                inlineStyleBG = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover; height:100%;"
                videoID = "http://clips.vorwaerts-gmbh.de/VfE_html5.mp4"
            }}
          </div>
          <div>
            <h3 class="color-black">
              tile image and tile video
            </h3>
          </div>
          <div class="row  col p-0 no-gutters ">
            {{> components/tile
                wrapperStyle = " col-12 col-md vh-50  align-items-start  justify-content-center   "
                boxStyle = " align-items-start  justify-content-center vh-50 d-flex flex-column  "
                inlineStyleBG = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover; height:100%;"
            }}
            {{> components/tile
                wrapperStyle = "col-12 col-md vh-50  align-items-end  justify-content-center d-flex flex-column  "
                boxStyle = " text-left "
                titleStyle = "color-black"
                descStyleWrapper = "pl-4 mt-3"
                descStyle = "color-black "
                inlineStyleBG = ""
               
                titleContent = "We <span class='yellow-line'>are</span> Fatboys"
                descContent = "desc desc tile tile esc tiletile esc tile tile"
                btn-text = "Check Check" 
            }}
          </div>
          <div class="row  col p-0 no-gutters ">
            {{> components/tile
                wrapperStyle = "col-12 col-md vh-50  align-items-center  justify-content-center d-flex flex-column  "
                boxStyle = " text-left "
                titleStyle = "color-black"
                descStyleWrapper = "pl-4 mt-3"
                descStyle = "color-black "
                inlineStyleBG = ""
               
                titleContent = "We <span class='yellow-line'>are</span> Fatboys"
                descContent = "desc desc tile tile esc tiletile esc tile tile"
                btn-text = "Accordion" 
                accordionCollapse ="#collapseTile"
               
            }}
            {{> components/tile
                wrapperStyle = " col-12 col-md vh-50  align-items-start  justify-content-center   "
                boxStyle = " align-items-start  justify-content-center vh-50 d-flex flex-column  "
                inlineStyleBG = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover; height:100%;"
            }}
            {{>components/accordion
             accordionText = "Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
                   keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident."
            }}
          </div>
          <div>
            <h3 class="color-black">
              tile for team
            </h3>
            <p class="color-black">in Mobile first tile show infos , other tile click to see info</p>
          </div>
          <div class="row col p-0 no-gutters firstTile-hover">
            {{> components/tile

                wrapperStyle = " mtr-tile vh-50 col-12 col-md "
                boxStyle = " align-items-start justify-content-end vh-50 d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
                inlineStyleBG = "background:url(img/mtr-sample.jpg) no-repeat center top; background-size:cover;"
               
                descContent = "Chief Executive Officer"
                titleContent = "Nic Low"
                quoteContent = '"I have a fantasy to be normal"'
            }}
            {{> components/tile

                wrapperStyle = " mtr-tile vh-50 col-12 col-md "
                boxStyle = " align-items-start justify-content-end vh-50 d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
                inlineStyleBG = "background:url(img/mtr-sample.jpg) no-repeat center center; background-size:cover;"
               
                descContent = "Chief Executive Officer"
                titleContent = "Nic Low"
                quoteContent = '"I have a fantasy to be normal"'

            }}
            {{> components/tile

                wrapperStyle = " mtr-tile vh-50 col-12 col-md "
                boxStyle = " align-items-start justify-content-end vh-50 d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
                inlineStyleBG = "background:url(img/mtr-sample.jpg) no-repeat center bottom; background-size:cover;"
               
                descContent = "Chief Executive Officer"
                titleContent = "Nic Low"
                quoteContent = '"I have a fantasy to be normal"'

            }}
            {{> components/tile

                wrapperStyle = " mtr-tile vh-50 col-12 col-md "
                boxStyle = " align-items-start justify-content-end vh-50 d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
                inlineStyleBG = "background:url(img/mtr-sample.jpg) no-repeat center bottom; background-size:cover;"
               
                descContent = "Chief Executive Officer"
                titleContent = "Nic Low"
                quoteContent = '"I have a fantasy to be normal"'

            }}
          </div>
        </div>
        </div>
      </section>
      <div>
        <h3 class="color-black">
          logos slick slider if more than 9
        </h3>
      </div>
      <section class="content-wrapper partner-logo-wrapper  normalScroll vh-75">
        <div class="partner-logo-carousel col my-4">
          <div class="logo-slider-wrapper no-gutters">
            <div class="row  col-md p-0 no-gutters">
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/disney-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
            </div>
            <div class="row  col p-0 no-gutters">
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/disney-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
            </div>
            <div class="row col p-0 no-gutters">
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/disney-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
            </div>
          </div>
          {{!-- second slide --}}
          <div class="logo-slider-wrapper ">
            <div class="row col-md p-0 no-gutters">
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/disney-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
            </div>
            <div class="row  col p-0 no-gutters">
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/disney-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
            </div>
            <div class="row  col p-0 no-gutters">
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/disney-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
            </div>
          </div>
        </div>
      </section>
      {{/inline}}
      {{/layouts/base}}
