{{#> layouts/base title="Contact Us" }}
  {{#*inline "meta-block"}}
    {{> includes/meta }}
    {{/inline}}
    {{#*inline "content-block"}}
  

     
      <section class="content-wrapper">
        <div class="container-fluid p-0">
            <div class="row  col p-0 no-gutters mt50 mt-md-0 ">
                {{> components/tile
                    wrapperStyle = "col-12 col-md  col-2-tile align-items-center  justify-content-center d-flex flex-column  "
                    boxStyle = " text-left mr-5 "

                    titleStyle = "color-grey-2 ht1"
                    descStyleWrapper = "pl50 m-t-md-100 mt50"
                    descStyle = "color-black fs-desc "
                    inlineStyleBG = ""

                    animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='400' data-aos-offset='0'"
                    animateBox = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='600' data-aos-delay='500' data-aos-offset='0'"
                
                    titleContent = "S<span class='yellow-line'>ho</span>ut it out!"
                    descContent = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
 "
                    btn-text = "Fill the form" 
                }}
                {{> components/tile
                    wrapperStyle = " col-12 col-md  col-2-tile  align-items-start  justify-content-center  "
                    boxStyle = " align-items-start  justify-content-center  col-2-tile d-flex flex-column  "
                    inlineStyleBG = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover; height:100%;"
                    animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='400' data-aos-offset='0'"
                }}
            </div>

        </div>
     
      </section>

      <section>
          
        <div class="container-fluid p-0">
          <div class="row p-0 no-gutters">
               {{> components/google-map }}

               {{> components/tile
                wrapperStyle = " col-12 col-md  col-2-tile  align-items-center  justify-content-center d-flex flex-column  order-1 order-md-2 "
                boxStyle = "text-left"
                titleStyle = "color-grey-2"
                descStyleWrapper = "pl50 m-t-md-100 mt50"
                descStyle = "color-black fs-desc "
                inlineStyleBG = ""
               
                titleContent = "<span class='yellow-line'></span>"
                descContent = "<b>Fat Boys Records Sdn. Bhd</b><br/> 
                                C-10-07 & 08, Plaza Mont’ Kiara, <br/>
                                No.2, Jalan Kiara, Mont’ Kiara,<br/>
                                50480 Kuala Lumpur.<br/>
                                <br/>
                                Tel: +603 6205 2670 <br/>
                                Mobile:+6016 274 3551<br/>
                                Fax: +603 6205 2671<br/>"
            }}
    
          </div>
        </div>        
      </section>
  {{> components/header-title
            wrapperStyle = "bg-white text-center pb50 pt50 p-b-md-100 p-t-md-70  d-flex flex-colum align-items-center justify-content-center "
            titleStyle = "color-grey-1 ht1"
            titleStyle1 = ""
             heroContent = "Fill<span class='yellow-line'> it</span> up!</span>"
            heroContent1 = ""
        }}


      {{> components/form }}



      
      {{/inline}}
      {{!-- conten block end --}}
      {{/layouts/base}}
