{{#> layouts/base title="Homepage" }}
  {{#*inline "meta-block"}}
    {{> includes/meta }}
    {{/inline}}
    {{#*inline "content-block"}}
      {{>components/scroll-arrow}}
      {{> components/banner  

            sectionID = "banner1"
            wrapperStyle = "col d-flex align-items-center justify-content-center text-md-left text-center"
            inlineBgStyle = "background:url(img/samplebg.jpg); no-repeat center bottom; background-color:#000; background-size:cover;" 
            inlineBgStyleMobile = "background:url(img/m-samplebg.png); no-repeat right top; background-color:#000; background-size:cover;"
            videoBackground =  "img/video/HomeVideo.mp4"
            animateTextBox = ""
            textboxStyle = ""
            animateTitle = "data-aos='fade-left' data-aos-easing='ease'  data-aos-duration='1300' data-aos-delay='100' data-aos-offset='100'"
            animateTitle1 = "data-aos='fade-right' data-aos-easing='ease'  data-aos-duration='1300' data-aos-delay='250' data-aos-offset='200'"
            animateTitle2 = "data-aos='fade-left' data-aos-easing='ease'  data-aos-duration='1300' data-aos-delay='400' data-aos-offset='100'"

            landingTitle = "Hey, Welcome to FB Group Asia" 
            landingTitle1 = " We’re a <span class='p-1 mx-1 background-yellow color-white text-uppercase'>gang of rebels</span> who are big on"
            landingTitle2 = "<span class='p-1 mx-1 background-yellow color-white text-uppercase'>awesome events</span> and <span class='p-1 mx-1 background-yellow color-white text-uppercase'>creative stuff.</span> "     
        }} 


      {{> components/banner

            sectionID = "banner2"
            bgOverlay  ="bg-overlay" 

            wrapperStyle = "col d-flex align-items-center align-items-md-center text-left p-0"
            inlineBgStyle = "background:url(img/boybg.jpg) no-repeat center bottom; background-size:cover;" 
            inlineBgStyleMobile ="background:url(img/m-boybg.jpg); no-repeat right; background-color:#000; background-size:cover;"

            textboxStyle ="col-12 col-md-5 m-l-md-100 ml10 mt60 m-t-md-0  col-landscape"
            descStyle = "col-12 col-md-10"

            animateTextBox =" "
            animateTitle ="data-aos='fade-right' data-aos-offset='200' data-aos-easing='ease' data-aos-duration='1600' data-aos-delay='700' "
            animateDesc1 ="data-aos='fade-right' data-aos-easing='ease' data-aos-duration='1600' data-aos-delay='500' "

            titleContent = "How We Roll" 
            descContent1 = "<p>  We always go loud and bold with our ideas by jamming cutting edge technology with creativity.</p>
                        <p>With a great team delivering complete in-house solutions, we will craft a unique brand event experience for you.</p>
                       <p>At the end of the day, above all, we always make things happen. </p> "   
            
            layerStyle = "animate-box-2 left0 w-50 h-100 d-none d-md-block mic-pos"
            animateLayer ="data-aos='fade-right'  data-aos-offset='400'  data-aos-easing='ease' data-aos-duration='1200'  data-aos-delay='500' "
            layerContent = "<img src='img/mic.png'>"
                        
            layerStyle2 = "animate-box-2 right0 w-50 h-100 d-none d-md-block boy-pos"
            animateLayer2 =" data-aos='fade-left' data-aos-easing='ease'  data-aos-offset='400'  data-aos-duration='1600'  data-aos-delay='100'  "
            layerContent2 = "<img src='img/boy.png'>" 
          
        }}
      {{> components/banner

            sectionID = "banner3"
            bgOverlay  ="bg-overlay"

            wrapperStyle = "col d-flex align-items-center justify-content-end  text-left p-0"
            inlineBgStyle = "background:url(img/bandbg.jpg) no-repeat center bottom; background-size:cover;" 
            inlineBgStyleMobile ="background:url(img/m-bandbg.jpg); no-repeat right; background-color:#000; background-size:cover;"

            textboxStyle ="col-12 col-md-5 m-r-md-100 ml0 mr0 col-landscape "
            descStyle = "col-12 col-md-10"
      
            animateTextBox =""
            animateTitle ="data-aos='fade-left' data-aos-offset='200' data-aos-easing='ease' data-aos-duration='1200' data-aos-delay='1000' "
            animateDesc1 ="data-aos='fade-left' data-aos-easing='ease' data-aos-duration='1200' data-aos-delay='1000' "

            titleContent = "Screw boring" 
            descContent1 = "<p>We believe that life is too short for boring events.</p> 
            <p>So, every opportunity is a chance to make the impossible possible not just for our clients, but also for selfish reasons because we take too much pride in what we do for you.</p>
            <p>We never settle for anything less than awesome because we love the rush that comes with it.</p>" 

            layerStyle ="animate-box-1 animate-zoom-in w-100 h-100 m-auto  d-none d-md-block band-pos"
            animateLayer ="data-aos='zoom-in' data-aos-easing='ease' data-aos-duration='1600'  data-aos-delay='0' "
            layerContent = "<img src='img/band.png'"  
            
          
        }}
      {{> components/banner

            sectionID ="banner4"
            bgOverlay  ="bg-overlay"

            wrapperStyle = "col d-flex align-items-center align-items-md-center text-left p-0 "
            inlineBgStyle = "background:url(img/raisetherock.jpg) no-repeat center bottom; background-size:cover;" 
            inlineBgStyleMobile ="background:url(img/m-raisetherock.jpg); no-repeat right; background-color:#000; background-size:cover;"

            textboxStyle ="col-12 col-md-5  m-l-md-100 ml0 m-t-md-0 col-landscape "
            descStyle = "col-12 col-md-10"

            animateTextBox =" "
            animateTitle ="data-aos='fade-right' data-aos-offset='200' data-aos-easing='ease' data-aos-duration='1200' data-aos-delay='1000' "
            animateDesc1 ="data-aos='fade-right' data-aos-easing='ease' data-aos-duration='1200' data-aos-delay='1000' "

            titleContent = "Raised on rock" 
            descContent1 = "<p>We’ve been kicking it with our family of rebels since 2008. Music is instilled in our DNA.</p>" 
  
            descContent2 = ""  

            layerStyle = ""
            animateLayer =" " 
            layerContent = ""
 
            layerStyle2 = "animate-box-2 animate-movement top0 right0 h-100 d-none d-md-block "
            animateLayer2 =" data-aos='' data-aos-easing='ease'     data-aos-offset='400'  data-aos-duration='1000'  data-aos-delay='30' "
            layerContent2 = "<img src='img/raisetherock-guy.png'>"  
          
        }}



      {{> components/banner
 
            sectionID = "banner5"
            bgOverlay  ="bg-overlay"

            wrapperStyle = "col d-flex align-items-center align-items-md-center justify-content-end text-left p-0"
            inlineBgStyle = "background:url(img/crowdbg.jpg) no-repeat center bottom; background-size:cover;" 
            inlineBgStyleMobile ="background:url(img/m-crowdbg.jpg); no-repeat right; background-color:#000; background-size:cover;"

            textboxStyle ="col-12 col-md-5 m-r-md-100 ml10 mr0 mt70 m-t-md-0 col-landscape"
            descStyle = "col-12 col-md-10"
      
            animateTextBox =""
            animateTitle ="data-aos='fade-left' data-aos-offset='200' data-aos-easing='ease' data-aos-duration='1200' data-aos-delay='1000' "
            animateDesc1 ="data-aos='fade-left' data-aos-easing='ease' data-aos-duration='1200' data-aos-delay='1000' "

            titleContent = "Keep on rolling" 
            descContent1 = "<p>We’ve driven to inspire our crew to be hungrier, louder and to conquer bigger dreams every day.</p>"
        
            layerStyle ="animate-box-1 animate-zoom-in w-100 h-100 m-auto  d-none d-md-block zindex2 crowd-pos"
            animateLayer ="data-aos='fade-in' data-aos-easing='ease' data-aos-duration='1000'  data-aos-delay='0' "
            layerContent = "<img src='img/crowd.png'>" 

            layerStyle2 ="animate-box-1 bottom0 h-100  d-none d-md-block smoke-animate"
            animateLayer2 =" data-aos='fade-left' data-aos-easing='ease'  data-aos-offset='0'  data-aos-duration='1600'  data-aos-delay='100' "
            layerContent2 = "<img src='img/smoke.png'>"  

           
        }}

      <section class="content-wrapper section zindex5 ">
        <div class="container-fluid  p-0 tile-main-container">

        {{> components/header-title  
            wrapperStyle = " bg-white text-center mb50  mt50 d-flex flex-colum align-items-center justify-content-center "
            titleStyle = "color-grey-1  ht1"
            titleStyle1 = "color-grey-1 ht1"
            heroContent = "Stuff <span class='yellow-line'>we</span> do"
        }}

          <div class="row  col p-0 no-gutters  bg-black ">
            {{> components/tile

                wrapperStyle ="hover-tile col-12 col-md vh-50 col-3-tile  "
                boxStyle = "align-items-center justify-content-center vh-50 col-3-tile d-flex flex-column  bg-overlay"
                titleStyle = "ht3"
 
                descStyleWrapper = ""
                descStyle = "pl-4 fs-desc"
                inlineStyleBG = "background:url(img/seriousproject.png) no-repeat center ; background-size:cover;"

                animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='500' data-aos-offset='0'"
                animateBox = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='600' data-aos-delay='1500' data-aos-offset='0'"

               
                titleContent = "Serious <span class='yellow-line'>proje</span>cts" 
                descContent = "Serious or fun we get <br>things done. Properly."
            }}
            {{> components/tile
                
                wrapperStyle ="hover-tile col-12 col-md vh-50 col-3-tile  "
                boxStyle = "align-items-center justify-content-center vh-50 col-3-tile d-flex flex-column bg-overlay "
                titleStyle = "ht3"

                descStyleWrapper = ""
                descStyle = "pl-4 fs-desc"
                inlineStyleBG = "background:url(img/passionproject.png) no-repeat center ; background-size:cover;"

                animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='500' data-aos-offset='0'"
                animateBox = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='600' data-aos-delay='1500' data-aos-offset='0'"

               
                titleContent = "Passion <span class='yellow-line'>proje</span>cts"
                descContent = "Music, creativity and family is<br> in our DNA, we’re grateful we get <br>to do what we want, when we want."
            }}
            {{> components/tile
            
                wrapperStyle ="hover-tile col-12 col-md vh-50 col-3-tile  "
                boxStyle = "align-items-center justify-content-center vh-50 col-3-tile d-flex flex-column bg-overlay "
                titleStyle = "ht3"

                descStyleWrapper = ""
                descStyle = "pl-4 fs-desc"
                inlineStyleBG = "background:url(img/creativejuice.png) no-repeat center ; background-size:cover;"

                animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='500' data-aos-offset='0'"
                animateBox = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='600' data-aos-delay='1500' data-aos-offset='0'"

               
                titleContent = "Cre<span class='yellow-line'>ative</span> juice"
                descContent = "It’s only impossible if its not <br>been done."
            }}
          </div>

          <div class="row  col p-0 no-gutters  bg-black">
            {{> components/tile
            
                wrapperStyle ="hover-tile col-12 col-md vh-50 col-3-tile  "
                boxStyle = "align-items-center justify-content-center  vh-50 col-3-tile d-flex flex-column bg-overlay "
                titleStyle = "ht3"

                descStyleWrapper = ""
                descStyle = "pl-4 fs-desc"
                inlineStyleBG = "background:url(img/tech-geek.png) no-repeat center ; background-size:cover;"

                animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='700' data-aos-offset='0'"
                animateBox = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='600' data-aos-delay='1500' data-aos-offset='0'"

               
                titleContent = "Tech <span class='yellow-line'>geek</span>"
                descContent = "Always learning and adapting. <br>Technology is our friend."
            }}
            {{> components/tile
            
                wrapperStyle ="hover-tile col-12 col-md  vh-50 col-3-tile  "
                boxStyle = "align-items-center justify-content-center vh-50 col-3-tile d-flex flex-column bg-overlay "
                titleStyle = "ht3"

                descStyleWrapper = ""
                descStyle = "pl-4 fs-desc"

                inlineStyleBG = "background:url(img/digitalbuzz.png) no-repeat center; background-size:cover;"

                animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='700' data-aos-offset='0'"
                animateBox = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='600' data-aos-delay='1500' data-aos-offset='0'"
            
                titleContent = "Soci<span class='yellow-line'>al buzz </span>"
                descContent = "We love a good conversation in<br> person and for business."
            }}
            {{> components/tile


                wrapperStyle = "hover-tile col-12 col-md vh-50  col-3-tile  bg-white "
                boxStyle = "align-items-center justify-content-center vh-50 col-3-tile d-flex flex-column  "
                titleStyle = "color-grey-1  ht3"

                descStyleWrapper = ""
                descStyle = "color-grey-2 pl-4 fs-desc"

                inlineStyleBG = ""
               
                titleContent = "We rock <img src='img/rock-icon.png'><br><span class='yellow-line'>with</span> creativity"
                descContent = ""
            }}
          </div>
        </div>
      </section>


        
      <section class="content-wrapper partner-logo-wrapper normalScroll vh-75">

          {{> components/header-title  
            wrapperStyle = " bg-white text-center mb30 mt30 m-t-md-50 m-b-md-100 d-flex flex-colum align-items-center justify-content-center "
            titleStyle = "color-grey-1  ht1"
            titleStyle1 = "color-grey-1 ht1"
            heroContent = "Partner<span class='yellow-line'>s In</span> Crime" 
        }}

        <div class="partner-logo-carousel col pt20 pb30 p-b-md-50 p-t-md-50">
          <div class="logo-slider-wrapper no-gutters">

              {{!-- slider 1 --}}
            <div class="row  col-md p-0 no-gutters">
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
            
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/disney-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
                {{>components/partner-slider
                alignContent = "text-center"
                logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
            }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}

                      
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/disney-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}

                {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
                {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/disney-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
                        
            </div>
         
          </div>

          {{!-- slider 2 --}}
           <div class="logo-slider-wrapper no-gutters">
            <div class="row  col-md p-0 no-gutters">
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/disney-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
                        
                        {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/disney-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}

                         {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/disney-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/cbs-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}
              {{>components/partner-slider
                            alignContent = "text-center"
                            logoPartners = "background:url(img/samsung-lg.png) no-repeat center bottom; background-size:contain; height:50px;"
                        }}


                        
            </div>
           
          </div>
        </div>
      </section>
      


      
      
    

      {{/inline}}
      {{/layouts/base}}
