{{#> layouts/base title="Meet The Rockstar" }}
  {{#*inline "meta-block"}}
    {{> includes/meta }}
    {{/inline}}
    {{#*inline "content-block"}}
      <section class="content-wrapper   ">
        <div class="container-fluid  p-0">
        {{> components/header-title
            wrapperStyle = "bg-light-grey text-center text-md-left pb50 pt50 p-b-md-150 p-t-md-150  d-flex flex-colum align-items-center justify-content-center "
            titleStyle = "color-black ht1"
            titleStyle1 = "color-black pl-3 ht1"
             heroContent = "You know how we roll,"
            heroContent1 = "now<span class='yellow-line'> this</span> is<span class='background-yellow color-white p-1 mx-1'>why we rock!</span>"
        }}
             </div>
      </section>

      <section class="content-wrapper">
        <div class="container-fluid p-0">
            <div class="row  col p-0 no-gutters ">
        
         {{> components/tile
                wrapperStyle = " col-12 col-md   col-2-tile align-items-center  justify-content-center d-flex flex-column diagonal-bg  "
                boxStyle = "text-left "
                titleStyle = "color-grey-2 ht1"
                descStyleWrapper = "pl50 m-t-md-100 mt50"
                descStyle = "color-black fs-desc "
                inlineStyleBG = ""

                animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='0' data-aos-offset='0'"
                animateBox = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='600' data-aos-delay='0' data-aos-offset='0'"
               
                titleContent = "P<span class='yellow-line'>assi</span>on Fatboys"
                descContent = "Our awesome DNA comes from <br>our people and together we don’t <br>shy away from challenges big or small. "
                btn-text = "" 
            }}

             {{> components/tile
                wrapperStyle = " col-12 col-md  col-2-tile  align-items-start  justify-content-center "
                boxStyle = " align-items-start  justify-content-center  d-flex flex-column  "
                inlineStyleBG = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover; height:100%;"
                animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='0' data-aos-offset='0'"

            }}
            </div>

        </div>
     
      </section>


      <section class="content-wrapper    ">
        <div class="container-fluid p-0" >

          {{> components/header-title
            wrapperStyle = "bg-white text-center  mb50 m-b-md-100 mt50 d-flex flex-colum align-items-center justify-content-center "
            titleStyle = "color-grey-1 ht1"
            titleStyle1 = "color-grey-1 ht1"
             heroContent = "Meet th<span class='yellow-line'>e RockStars</span>"
            heroContent1 = ""
            }}
        </div>

        <div class="row col p-0 no-gutters firstTile-hover ">
            {{> components/tile

                wrapperStyle = " mtr-tile col-5-tile col-6 col-md-2-mtr  "
                boxStyle = " align-items-start justify-content-end col-5-tile d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
                
                mtrBg = "img/staffs/4Qayyuum/Before.JPG"
                bgPosition1 = "right bottom"
                mtrBgHover ="img/staffs/4Qayyuum/After.JPG"
                bgPosition2 ="center bottom"
                
                descContent = "Lorem ipsum"
                titleContent = "Qayyuum"
                quoteContent = '"Lorem ipsum dolor sit amet"'
            }}
            {{> components/tile

                wrapperStyle = " mtr-tile col-5-tile col-6 col-md-2-mtr  "
                boxStyle = " align-items-start justify-content-end col-5-tile d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
              
                mtrBg = "img/staffs/6Fatin/Before.JPG"
                bgPosition1 = "center bottom"
                mtrBgHover ="img/staffs/6Fatin/After.JPG"
                bgPosition2 = "center bottom"

                descContent = "Lorem ipsum"
                titleContent = "Fatin"
                quoteContent = '"Lorem ipsum dolor sit amet"'

            }}

            {{> components/tile

                wrapperStyle = " mtr-tile col-5-tile col-6 col-md-2-mtr  "
                boxStyle = " align-items-start justify-content-end col-5-tile d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
             
                mtrBg = "img/staffs/10Nazrin/Before.JPG"
                bgPosition1 = "center bottom"
                mtrBgHover ="img/staffs/10Nazrin/After.JPG"
                bgPosition2 = "center bottom"
               
                descContent = "Lorem ipsum"
                titleContent = "Nazrin"
                quoteContent = '"Lorem ipsum dolor sit amet"'

            }}
            {{> components/tile

                wrapperStyle = " mtr-tile col-5-tile col-6 col-md-2-mtr  "
                boxStyle = " align-items-start justify-content-end col-5-tile d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
                
                mtrBg = "img/staffs/12AhmadFaiz/Before.JPG"
                bgPosition1 = "center bottom"
                mtrBgHover ="img/staffs/12AhmadFaiz/After.JPG"
                bgPosition2 = "center bottom"
               
                descContent = "Lorem ipsum"
                titleContent = "Ahmad Faiz"
                quoteContent = '"Lorem ipsum dolor sit amet"'

            }}
            {{> components/tile

                wrapperStyle = " mtr-tile col-5-tile col-6 col-md-2-mtr  "
                boxStyle = " align-items-start justify-content-end col-5-tile d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
              
                mtrBg = "img/staffs/14Khairunnisa/Before.JPG"
                bgPosition1 = "center bottom"
                mtrBgHover ="img/staffs/14Khairunnisa/After.JPG"
                bgPosition2 = "center bottom"
               
                descContent = "Lorem ipsum"
                titleContent = "Khairunnisa"
                quoteContent = '"Lorem ipsum dolor sit amet"'

            }}
            {{> components/tile

                wrapperStyle = " mtr-tile col-5-tile col-6 col-md-2-mtr  "
                boxStyle = " align-items-start justify-content-end col-5-tile d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
              
                 mtrBg = "img/staffs/15Fitri/Before.JPG"
                bgPosition1 = "center bottom"
                mtrBgHover ="img/staffs/15Fitri/After.JPG"
                bgPosition2 = "center bottom"
               
                descContent = "Lorem ipsum"
                titleContent = "Fitri"
                quoteContent = '"Lorem ipsum dolor sit amet"'

            }}
            {{> components/tile

                wrapperStyle = " mtr-tile col-5-tile col-6 col-md-2-mtr  "
                boxStyle = " align-items-start justify-content-end col-5-tile d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
              
                mtrBg = "img/staffs/16Faiz/Before.JPG"
                bgPosition1 = "center bottom"
                mtrBgHover ="img/staffs/16Faiz/After.JPG"
                bgPosition2 = "center bottom"
               
                descContent = "Chief Officer"
                titleContent = "Faiz"
                quoteContent = '"Lorem ipsum dolor sit amet"'

            }}
            {{> components/tile

                wrapperStyle = " mtr-tile col-5-tile col-6 col-md-2-mtr  "
                boxStyle = " align-items-start justify-content-end col-5-tile d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
              
                mtrBg = "img/staffs/17HaziqRamli/Before.JPG"
                bgPosition1 = "center bottom"
                mtrBgHover ="img/staffs/17HaziqRamli/After.JPG"
                bgPosition2 = "center bottom"
               
                descContent = "Lorem ipsum"
                titleContent = "Haziq Ramli"
                quoteContent = '"Lorem ipsum dolor sit amet"'

            }}
            {{> components/tile

                 wrapperStyle = " mtr-tile col-5-tile col-6 col-md-2-mtr  "
                boxStyle = " align-items-start justify-content-end col-5-tile d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
              
                mtrBg = "img/staffs/18Aida/Before.JPG"
                bgPosition1 = "center bottom"
                mtrBgHover ="img/staffs/18Aida/After.JPG"
                bgPosition2 = "center bottom"
               
                descContent = "Lorem ipsum"
                titleContent = "Aida"
                quoteContent = '"Lorem ipsum dolor sit amet"'

            }}
            
            {{> components/tile

               wrapperStyle = " mtr-tile col-5-tile col-6 col-md-2-mtr  "
                boxStyle = " align-items-start justify-content-end col-5-tile d-flex flex-column  "
                titleStyle = "tileTitleName" 
                descStyle = "tilePara"
              
                mtrBg = "img/staffs/19Fauzi/Before.JPG"
                bgPosition1 = "center bottom"
                mtrBgHover ="img/staffs/19Fauzi/After.JPG"
                bgPosition2 = "center bottom"
               
                descContent = "Lorem ipsum"
                titleContent = "Fauzi"
                quoteContent = '"Lorem ipsum dolor sit amet"'

            }} 
            
        </div>


       
      </section>
      {{/inline}}
      {{!-- conten block end --}}
      {{/layouts/base}}
