{{#> layouts/base title="Stuff We do" }}
  {{#*inline "meta-block"}}
    {{> includes/meta }}
    {{/inline}}
    {{#*inline "content-block"}}
      <section class="content-wrapper section  ">
        <div class="container-fluid  p-0">
          {{> components/header-title  
            wrapperStyle = "bg-light-grey text-center p-b-md-150 p-t-md-200 pb70 pt100 d-flex flex-colum align-items-center justify-content-center   "
            titleStyle = "color-grey-1  ht1"
            titleStyle1 = "color-grey-1 pl-3 ht1"
            heroContent = "We put in the<span class='background-yellow color-white p-1 mx-1'> hard work </span>"
            heroContent1 = "and <span class='background-yellow color-white p-1 mx-1'>t<span class='yellow-line'>ea</span>mwork</span> to make <span class='background-yellow color-white p-1 mx-1'>things work.</span>"
     }}
          <div class="row  p-0 no-gutters ">
            {{> components/tile
                wrapperStyle = " col-12 col-md   col-2-tile align-items-center  justify-content-center d-flex flex-column  diagonal-bg"
                boxStyle = "text-left " 
                titleStyle = "color-grey-2 ht1"
                descStyleWrapper = "pl50 m-t-md-100 mt50"
                descStyle = "color-black fs-desc "
                inlineStyleBG = ""

                animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='0' data-aos-offset='0'"
                animateBox = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='600' data-aos-delay='0' data-aos-offset='0'"
               
                titleContent = "S<span class='yellow-line'>er</span>ious Projects"
                descContent = "Our awesome DNA comes from <br>our people and together we don’t <br>shy away from challenges big or small. "
                btn-text = "Button" 
            }}
            
            {{>components/tile
                wrapperStyle = "col-12 col-md  col-2-tile video-container "
                boxStyle = " col-2-tile"
                inlineStyleBG = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover; height:100%;"
                videoID = "img/video/ACTIVATION1.mp4"

                animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='0' data-aos-offset='0'"

            }}

          </div>
          <div class="row  col p-0 no-gutters ">
            {{> components/tile
                wrapperStyle = " col-12 col-md  col-2-tile  align-items-start  justify-content-center  order-md-1 order-2"
                boxStyle = " align-items-start  justify-content-center  d-flex flex-column  "
                inlineStyleBG = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover; height:100%;"
              
               animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='800' data-aos-offset='0'"

            }}
           

             {{> components/tile
                wrapperStyle = " col-12 col-md   col-2-tile align-items-center  justify-content-center d-flex flex-column  order-md-2 order-1 "
                boxStyle = "text-left "
                titleStyle = "color-grey-2 ht1"
                descStyleWrapper = "pl50 m-t-md-100 mt50"
                descStyle = "color-black fs-desc "
                inlineStyleBG = ""

                animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='400' data-aos-offset='0'"
                animateBox = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='600' data-aos-delay='500' data-aos-offset='0'"
               
                titleContent = "P<span class='yellow-line'>assi</span>on Fatboys"
                descContent = "Our awesome DNA comes from <br>our people and together we don’t <br>shy away from challenges big or small. "
                btn-text = "" 
            }}

          </div>
           <div class="row  p-0 no-gutters ">
            
             {{> components/tile
                wrapperStyle = " col-12 col-md   col-2-tile align-items-center  justify-content-center d-flex flex-column  "
                boxStyle = "text-left "
                titleStyle = "color-grey-2 ht1"
                descStyleWrapper = "pl50 m-t-md-100 mt50"
                descStyle = "color-black fs-desc "
                inlineStyleBG = ""

                animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='400' data-aos-offset='0'"
                animateBox = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='600' data-aos-delay='500' data-aos-offset='0'"
               
                titleContent = "W<span class='yellow-line'>e a</span>re Fatboys"
                descContent = "Our awesome DNA comes from <br>our people and together we don’t <br>shy away from challenges big or small. "
                btn-text = "Button" 
            }}

                 {{>components/tile
                wrapperStyle = "col-12 col-md   col-2-tile video-container"
                boxStyle = " col-2-tile"
                inlineStyleBG = "background:url(img/samplebg.jpg) no-repeat center bottom; background-size:cover; height:100%;"
                videoID = "img/video/FASHION1.mp4"
                animateBg = "data-aos='fade-in' data-aos-easing='ease-in'  data-aos-duration='500' data-aos-delay='800' data-aos-offset='0'"

            }}
          </div>

        </div>
      </section>
      {{/inline}}
      {{!-- conten block end --}}
      {{/layouts/base}}
