<!doctype html>
<html>
  <head>
      
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Base Page Title
      {{/if}}
    </title>

    {{#> meta-block}}
        {{!-- Custom <meta> tags per page --}}
    {{/meta-block}}

    {{#> stylesheets-block }}
        {{> includes/stylesheets }}
    {{/stylesheets-block}}

    
    {{#> head-block}}
        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    {{/head-block}}

  
  </head>
  <body>


    <!-- Header Nav and Navigation Menu -->
    {{#> nav-block}}
      {{> includes/nav
        navTitle = "My Navi title"
    }}
    {{/nav-block}}
    <!-- /END Header Nav and Navigation Menu -->


    <!-- Content Section -->
    <main>
    {{#> content-block}}
    {{/content-block}}


   
    <!-- /END Footer Section -->
    </main>
    <!-- /END Content Section -->

 <!-- Footer Section -->
    {{#> footer-block}}
    {{> includes/footer }}
    {{/footer-block}}


    <!-- Scripts -->
    {{#> scripts-block}}
    {{> includes/scripts}}
    {{/scripts-block}}
    <!-- /END Scripts -->

  </body>
  

  
</html>