<section id="{{sectionID}} " class="content-wrapper vh-100 section parallax   ">
  <div class="container-fluid h-100 banner-wrapper " >
    <div class="row h-100 banner-row">
        
      <div class="{{wrapperStyle}} mobile-image-enabled" style="{{inlineBgStyle}}" data-img-mobile="{{inlineBgStyleMobile}}">
       
        {{#if bgOverlay}}
        <div class="{{bgOverlay}}"></div>
        {{/if}}

      {{#if videoBackground}}
          <video id="video" class="background-video"  autoplay loop id="myVideo">
             <source src="{{videoBackground}}" type="video/mp4">
          </video>
        {{/if}}

        <div class="zindex5 {{textboxStyle}}" {{{animateTextBox}}}> 
          {{#if landingTitle }}
            <h1 class="ht1" {{{animateTitle}}}>
              {{{landingTitle}}}
            </h1>
            <h1 class="ht1 main-title-fs" {{{animateTitle1}}}>
              {{{landingTitle1}}}
            </h1>
            <h1 class="ht1 main-title-fs" {{{animateTitle2}}}> 
              {{{landingTitle2}}}
            </h1>
          {{else}}
          <div id="{{triggerAnimate}}" class="">
             <h1 class=" ht1 yellow-line" {{{animateTitle}}}>
              {{{titleContent}}}
            </h1>
            <div class="m-l-md-100 ml0 mt60 m-t-md-100 {{descStyle}}" {{{animateDesc1}}}>
              {{{descContent1}}}
            </div>
          </div>
           
          {{/if}}
        </div>
        {{!-- test img --}}
        <div class=" {{layerStyle}}" {{{animateLayer}}}>
          {{{layerContent}}}
        </div>
        {{!-- test img --}}
        <div class="{{layerStyle2}}" {{{animateLayer2}}}>
          {{{layerContent2}}}
        </div>
      </div>
    </div>
  </div>


</section>
