<div class="container-wrapper">
    <div class="btn-container">
        <a href="{{btnLink}}">
            <div class="btn btn-primary">{{btn-text}}            
            </div>
        </a>
    </div>
</div>