<section>
  <div class="content-wrapper section form-container mb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col px-md-5 mx-md-5 m-my-5">
          <form>
            <div class="row no-gutters">
              <div class="col-12 col-md-6 px-md-4">
                <div class="form-group">
                  <input type="text" id="first-name" class="form-control" required>
                  <label class="form-control-placeholder" for="name">First name</label>
                </div>
              </div>
              <div class="col-12 col-md-6 px-md-4">
                <div class="form-group">
                  <input type="text" id="last-name" class="form-control" required>
                  <label class="form-control-placeholder" for="last-name">Last name</label>
                </div>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-12 col-md-6 px-md-4">
                <div class="form-group">
                  <input type="text" id="email" class="form-control" required>
                  <label class="form-control-placeholder" for="email">Email</label>
                </div>
              </div>
              <div class="col-12 col-md-6 px-md-4">
                <div class="form-group">
                  <input type="text" id="phone" class="form-control" required>
                  <label class="form-control-placeholder" for="phone">Phone number</label>
                </div>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-12 col-md-6 px-md-4">
                <div class="form-group">
                  <input type="text" id="company-name" class="form-control" required>
                  <label class="form-control-placeholder" for="company-name">Company name</label>
                </div>
              </div>
              <div class="col-12 col-md-6 px-md-4">
                <div class="form-group">
                  <input type="text" id="inquiry" class="form-control" required>
                  <label class="form-control-placeholder" for="inquiry">Describe your inquiry</label>
                </div>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col px-md-4">
                <div class="form-group">
                  <textarea class="form-control  form-comment " rows="5" id="comment"></textarea>
                  <label class="form-control-placeholder" for="comment">How can we help you?</label>
                </div>
              </div>
            </div>
            <div class="row no-gutters px-md-4">
                <div class="col-sm ">
                  <div class="btn-main py-3">
                     <a type="submit">Let's kick it</a>
                  </div>
                </div>
                <div class="col-sm-10 ml-2">
                  <p class=" fs-1 color-black mt-2"><b>User will get this message after they submit their particulars.</b><br>
                    Nice! We’ll talk soon.</p>
                </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
