<div class="col-12 col-md   col-2-tile map-wrapper p-0  order-2 order-md-1">

    <div style="
-webkit-filter: grayscale(100%);
filter: grayscale(100%);" class="google-maps  col-2-tile br-main mb-3 d-flex justify-content-center ">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63740.809250570484!2d101.59782388648416!3d3.1472588266417643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4f3b4e48a187%3A0x2e9080d3eba97a63!2sFat+Boys+Records+Sdn+Bhd!5e0!3m2!1sen!2smy!4v1550574201638" width="100%" height="auto" frameborder="0" style="border:0" ></iframe>
    </div>

</div>

