<div class="content-wrapper ">
  <div class="container-wrapper">
    <div class="container-fluid header-title p-0">
      <div class="{{wrapperStyle}} container-fluid">
        <a href="">
          <h3 class="{{titleStyle}}">{{{heroContent}}}</h3>
          <h3 class="{{titleStyle1}}">{{{heroContent1}}}</h3>
        </a>
        {{#if seperatorStyle}}
       <div class="seperator p-0 {{seperatorStyle}}"> </div>
       {{/if}}
      </div>
      
    </div>
  </div>
</div>
    