{{!-- Meet the rockstars tile --}}
{{!-- one tile can applt many alignments and custome style --}}
{{!-- <div class="tile-wrapper col-12 col-md {{alignContent}}" style="{{tileBG}}">
    <div class="tile-box  align-items-start  justify-content-end vh-50 d-flex flex-column  {{tileBox}}">
        <p class="tilePara">{{tileDesignation}}</p>
        <h4 class="tileTitleName">{{tileTitleName}}</h4>
        <div class="{{descBox}}">
            <p class="tilePara">{{tileQuote}}</p>
        </div>
    </div>
</div> --}}  