{{!-- partner slider tile --}}

<div class="logo-wrapper col-6 col-md-2-logo {{alignContent}}">
    <div class="logo-box p-md-t30 p-md-b30 p-md-r20 p0">
        <div class="logo-partners" style="{{logoPartners}}">
        </div>
    </div>
</div>