{{!-- one tile can apply many alignments and custome style --}}
<div class="tile-wrapper col-md  {{wrapperStyle}}"  style="{{inlineStyleBG}}" {{{animateBg}}}>

  {{#if mtrBg}}
  
 <div  class="hoverBG absolute " style="background:url({{mtrBg}}) no-repeat {{bgPosition1}}; background-size:cover; height:100%; width:100%;"> 
  <img style="opacity:0;" src ="{{mtrBg}}">
  {{!-- <img src="{{bgHover}}"> --}}
 </div>

  <div  class="hoverBG2 " style="background:url({{mtrBgHover}}) no-repeat {{bgPosition2}}; background-size:cover; height:100%; width:100%;"> 
  <img style="opacity:0;" src ="{{mtrBgHover}}">
  {{!-- <img src="{{bgHover}}"> --}}
 </div>
 {{/if}}


  <div class="tile-box p10  {{boxStyle}}" {{{animateBox}}}>
    {{!-- if mtr tile  else use standard tile--}}
    {{#if quoteContent}}
      <p class="{{descStyle}}">{{{descContent}}}</p>
      <h2 class="{{titleStyle}}">{{titleContent}}</h2>
      <p class="{{descStyle}}">{{quoteContent}}</p>
    {{else}}
      {{#if videoID}}
        <div class="align-items-center d-flex flex-colum justify-content-center video-wrapper">
          <video class="video" src="{{videoID}}" controls  /></video>
          {{!-- <iframe class="video" src="https://www.youtube.com/embed/{{videoID}}?autoplay=1&loop=1&rel=0&wmode=transparent"
            frameborder="0" allowfullscreen wmode="Opaque"></iframe> --}}
          <div>
            <img src="img/play-btn.png">
          </div>
        </div>
      {{else}}
        <h2 class="{{titleStyle}}">{{{titleContent}}}</h2>
        <div class="{{descStyleWrapper}}">
          <p class="{{descStyle}} mw-380 mt-4">{{{descContent}}}</p>
          {{#if btn-text}}
            <div class="btn-container mt40">
              <a href="{{btnLink}}" data-target="{{accordionCollapse}}" data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
                <div class="btn btn-primary">{{btn-text}}
                </div>
              </a>
            </div>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}
  </div>

</div>

