/** Colors **/
/** Background Colors **/
/** Media Queries **/
.color-grey {
  color: #3c3c3c; }

.color-grey-1 {
  color: #2a2a2a; }

.color-grey-2 {
  color: #3d3d3d; }

.color-light-grey {
  color: #606060; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.color-yellow {
  color: #fcb816; }

.background-yellow {
  background-color: #fcb816; }
