/** Colors **/
/** Background Colors **/
/** Media Queries **/
body {
  font-family: "Raleway-regular", Helvetica, sans-serif; }

html,
body,
main {
  position: relative;
  height: auto;
  overflow-x: hidden;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%; }

section {
  overflow: hidden; }

p {
  font-family: "Raleway-regular", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gotham-bold", Helvetica, sans-serif;
  color: #fff; }

a {
  color: #fff; }
  a:hover {
    text-decoration: none; }

.ht1 {
  font-size: 32px;
  line-height: 1.4em; }
  @media (min-width: 360px) {
    .ht1 {
      font-size: 32px;
      line-height: 1.5em; } }
  @media (min-width: 815px) {
    .ht1 {
      font-size: 44px;
      line-height: 1.2em; } }
  @media (min-width: 1700px) {
    .ht1 {
      font-size: 63px;
      line-height: 1.1em; } }

.ht3 {
  font-size: 32px; }
  @media (min-width: 815px) {
    .ht3 {
      line-height: 0.5em;
      font-size: 40px; } }
  @media (min-width: 900px) {
    .ht3 {
      line-height: 0.5em;
      font-size: 28px; } }
  @media (min-width: 1260px) {
    .ht3 {
      line-height: 0.5em;
      font-size: 40px; } }
  @media (min-width: 1700px) {
    .ht3 {
      line-height: 1.5em;
      font-size: 46px; } }

.ht4 {
  font-size: 20px; }
  @media (min-width: 768px) {
    .ht4 {
      font-size: 30px; } }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: none !important; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

.vh-100 {
  height: 100vh; }

.vh-50 {
  height: 50vh; }

.vh-25 {
  height: 25vh; }

.main-title-fs {
  font-size: 28px;
  line-height: 1.5em; }
  @media (min-width: 360px) {
    .main-title-fs {
      font-size: 32px;
      line-height: 1.6em; } }
  @media (min-width: 1700px) {
    .main-title-fs {
      font-size: 46px;
      line-height: 1.4em; } }

.fs-desc {
  font-size: 16px; }
  @media (min-width: 815px) {
    .fs-desc {
      font-size: 18px; } }
  @media (min-width: 1700px) {
    .fs-desc {
      font-size: 20px; } }

.fs-1 {
  font-size: 14px; }

.fs-2 {
  font-size: 12px; }

.bg-white {
  background: #fff; }

.bg-black {
  background: #000; }

.bg-light-grey {
  background: #f2f2f3; }

.yellow-line {
  position: relative;
  width: 100%; }
  .yellow-line:before {
    content: '';
    background-color: #fcb816;
    -webkit-transition-property: background-color, margin, width;
    transition-property: background-color, margin, width;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.5, 0, 0.2, 1);
    position: absolute;
    width: 50px;
    height: 8px;
    bottom: -33px;
    left: 0; }
    @media (min-width: 815px) {
      .yellow-line:before {
        width: 80px;
        height: 10px;
        bottom: -58px;
        left: 0; } }
