@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(45deg); }
  100% {
    -webkit-transform: rotate(90deg); } }

@keyframes swinging {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(90deg); } }
